body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2.5vh;
    font-weight: bolder;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url('https://images.unsplash.com/photo-1522870037448-ccc1e1fd4dba?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

#form {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 70vh;
    background-color: rgba(255, 255, 255, 0.774);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
}

button {
    padding: 0.7vh;
    background-color: rgb(70, 70, 70);
    color: rgb(247, 247, 247);
    border-radius: 1vh;
    margin-top: 1vh;
    border: none;
}

p {
    font-style: italic;
}

#logo {
    height: 10vh;
    margin-top: -20vh;
    margin-bottom: 20vh;
}

.row {
    gap: 2vh;
    text-align: left;
    margin-bottom: 1vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Espaciado entre las columnas */
}

.column {
    display: flex;
    flex-direction: column;
}

label {
    white-space: nowrap;
    width: 31vh;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 5px; /* Espaciado entre el label y el input */
}

input{
    border: 0.2vh solid grey;
    border-radius: 0.8vh;
}
input:valid,
input.invalid {
    border-color: #000;

}

input.valid {
    border-color: lightgreen;
}

input.invalid {
    border-color: lightcoral;
}